.main {position:relative;width:980px;height:4800px;background-color:#FC6;margin:0 auto;padding-top:220px}
#AdLayer {position:absolute;width:20px;display:none;height:59px;top:0px;right:-30px;}
img {border:0;}
